:root {
  --background: #d5e5ee;
  --foreground: #171717;

  --primary: seashell;
  --primary-heavy: #dacaca;

  --secondary: #d5b185;
  --secondary-heavy: #b89b8c;

  --tertiary: #e4f9fd;
  --tertiary-heavy: #a8cae0;

  font: 16px "Monaspace Neon", monospace;

  /* morphing gradient stuff */

  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: var(--foreground);
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "GitHub Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* create html animated hovering items background thing */
